<br>
<script>
$.getJSON( "/list_songs", function( data ) {
  var items = [];
  console.log(data)
  $.each( data, function( key, val ) {

    items.push( "<li id='" + val['id'] + "'><a href='#' onclick='play("+val['id']+")'>" + val['name'] + " - "+val['artist']+"</a></li>" );
  });
 
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "#body" );
});

function play(id) {
 
	console.log(id)
	$.ajax('/play/'+id).done(function (data) {
		// Song is playing, cool beans
		 var playbackDiv = document.getElementById("playback");
    playbackDiv.style.display = "block";
    playButton.innerHTML = "Pause";
    paused = false;
	});


}
  paused = false;
  console.log("Loading?")
    console.log("Loaded");
    var playButton = document.getElementById("play-pause");
    playButton.addEventListener("click", function() {
      if (paused == true) {
        console.log('Playing?');
        $.ajax('/resume').done(function (data) {
        console.log('Playing!')
        playButton.innerHTML = "Pause";
        paused = false;
      });
      } else {
        console.log("Pausing?");
        $.ajax('/pause').done(function (data) {
        console.log("Paused");
        playButton.innerHTML = "Play";
        paused = true;
      });

      }
    });
</script>
<div class="page-header">
        <h1 class="text-center">Play from Library</h1>
    </div>
    <div class="container" id="playback" style="display:none">
      <button type="button" id="play-pause">Pause</button>
    </div>
    <div class="container" id="body">

    </div>