<br>

    <div class="page-header">
        <h1 class="text-center">Upload Song</h1>
    </div>
    <div class="container" id="body">
    <form name="upload" onsubmit="return validateForm()" ACTION="/upload_song" METHOD="POST" enctype=multipart/form-data>
    <input type="text" id="songName" name="songName" placeholder="Song Name">
    <input type="text" id="artist" name="artist" placeholder="Artist">
    <br>
    <input style="width:50%" id="uploadFile" placeholder="Choose File" disabled="disabled"/>
    <div class="fileUpload btn btn-primary">
        <span>Select File</span>
        <input id="uploadBtn" type="file" name="file" class="upload"/>
        <br>
        <script>
            document.getElementById("uploadBtn").onchange = function () {
                document.getElementById("uploadFile").value = this.value.replace("C:\\fakepath\\", "");
            };
        </script>
    </div>
        <br>
        <button type="submit" class="btn btn-primary">Upload Song</button>
        <div class="fade in alert alert-warning" style="margin-top: 15px; display: none" id="message-alert">
    <a href="#" onclick="document.getElementById('message-alert').style.display = 'none';" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="message"></div>
 </div>
    </form>

    </div>
